<!-- <div *ngFor="let product of products | async">
  <img src="{{ product.imgUrl }}" />
  <br />
  {{ product.name }}
</div> -->

<mat-card
  class="example-card"
  style="max-width: 400px"
  *ngFor="let product of products | async"
>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subheader></mat-card-subheader>
  </mat-card-header>
  <img mat-card-image src="{{ product.imgUrl }}" alt="{{ product.name }}" />

  <mat-card-content>
    <p>{{ product.name }} : {{ product.price }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Buy</button>
  </mat-card-actions>
</mat-card>
